body {
  background-image: url('./assets/background-light.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#git-link {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-weight: 500;
  color: #0059d6;
}